*:root {
--background-color:red;
--primary-color: blue;
--secondary-color: black;

}


{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color)
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px green;
  background-color: black;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px black;
  text-align: center;
  text-decoration: none;
  color: #d61414;
}

nav a[aria-current='page'] {
  color: #000000;
  background-color: #d4d4d4;
}

nav a:hover {
  background-color: var(--secondary-color);
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 10.rem;
}


.child {
  border:solid 1px black;
  padding: 1rem;
  font-family: Verdana, Tahoma, sans-serif;
}
.parent { 
display: flex;
flex-direction: row;
width: 100%;
border: solid 1px black;
justify-content: space-between;
}

